.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: rgb(1 166 89);
}

.cell {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid;
}
