.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: rgb(1 166 89);
}

.cell {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid;
}

.wall {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: black;
}

.button {
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  background-color: black;
  border: black;
  border-radius: 5px;
}
